/* Body */
   body{
    /* This will be the default background on the pages*/
    background: url('/assets/images/meiji-temple-9603371_1280.jpg') no-repeat fixed center center/cover;
}

/* Logo */
.navbar-brand{
    min-width: 50px;
    max-width: 120px;
    max-height: 50px;
}

/* Main container */
.main-container{
    /* background-color: rgba(83, 79, 79, 0.371); */
    background-color: rgb(172, 124, 132);
    margin: 10px 10px;
    min-height: 100%;
    max-width: 80%;
}

/* Button for task creation */
.task-container{
    max-width: 50%;
    background-color: aqua;
}

